<ion-header class="header-container">
  <div class="user-welcome">
    <ion-avatar (click)="goToProfile()" class="imagen_usuario">
      <img [src]="userPhoto">
    </ion-avatar>
    <div class="welcome-text">
      <h2>Bienvenido!</h2>
      <h3>{{userName || "no hay usuario"}} {{userLastName || ""}}</h3>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">grupos</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<app-footer></app-footer>