<ion-footer class="footer">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding ion-justify-content-between" nowrap>
      <ion-col size="2.4" class="ion-text-center">
        <ion-button fill="clear" class="footer-button" routerLink="/inicio">
          <img src="assets/img/casaLogo.png" class="imagen_casa_boton">
        </ion-button>
      </ion-col>

      <ion-col size="2.4" class="ion-text-center">
        <ion-button fill="clear" class="footer-button" routerLink="/agenda">
          <img src="assets/img/agenda.png" class="imagen_agenda_boton">
        </ion-button>
      </ion-col>

      <ion-col size="2.4" class="ion-text-center">
        <ion-button fill="clear" class="footer-button" routerLink="/sos">
          <img src="assets/img/alarmaLogo.png" class="imagen_SOS_boton">
        </ion-button>
      </ion-col>

      <ion-col size="2.4" class="ion-text-center">
        <ion-button fill="clear" class="footer-button" routerLink="/informacion">
          <img src="assets/img/info.png" class="imagen_info_boton">
        </ion-button>
      </ion-col>

      <ion-col size="2.4" class="ion-text-center">
        <ion-button fill="clear" class="footer-button" routerLink="/usuarios">
          <img src="assets/img/usuariosLogo.png" class="imagen_usuarios_boton">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
