<ion-header class="header-container">
  <ion-toolbar>
    <div class="user-welcome" (click)="goToProfile()">
      <ion-avatar slot="start">
        <img [src]="userPhoto" alt="Foto de perfil">
      </ion-avatar>
      <div class="welcome-text">
        <h2>Hola</h2>
        <h3>{{ userName }} {{ userLastName }}</h3>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="sos-content">
  <div class="sos-overlay"></div>
  <div class="sos-container">
    <div class="sos-section">
      <h2 class="sos-title">¿Necesitas Ayuda?</h2>
      <p class="sos-description">Presiona los siguientes botones para alertar a las autoridades o a tu grupo de contacto.</p>
      <button class="sos-button" (click)="sendSOSAlert()">SOS - Avisar a autoridades</button>
      <button class="group-button" (click)="notifyGroup()">Avisar a tu grupo!</button>
    </div>

    <div class="sos-info">
      <h3 class="sos-subtitle">¿Qué hacer mientras esperas?</h3>
      <ul class="sos-lista">
        <li>Busca un lugar seguro.</li>
        <li>Permanece visible y tranquilo.</li>
        <li>Si vez o escuchas personas o a los rescatistas intenta hacer ruido si puedes o lo necesitas para que te puedan ubicar con mas facilidad.</li>
      </ul>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>