<ion-content class="ion-padding">
  <!-- Agregar importación de fuentes -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <button (click)="goToLogin()" class="autoridad-button">usuario</button>
  <div class="form-container">
    <h1 class="title">Trek-King</h1>
    <h6 class="escritura">Esta ventana es solo para autoridades, por favor si usted no es autoridad, por favor vuelva a la ventana de usuario</h6>
    
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-list class="form-list">
        <!-- Campo de correo electrónico -->
        <ion-item class="custom-input">
          <input
            type="email" 
            [(ngModel)]="email" 
            name="email"
            required
            email
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            #emailInput="ngModel"
            (ionFocus)="currentField = 'email'"
            (ionBlur)="currentField = ''"
            label="Correo electrónico"
            labelPlacement="floating"
            placeholder="ejemplo@correo.com"
            [class.valid-input]="emailInput.valid && emailInput.touched"
            [class.invalid-input]="emailInput.invalid && emailInput.touched">
    
        </ion-item>
        <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched && currentField === 'email'">
          <small class="error-message">Por favor, ingrese un correo válido</small>
        </ion-text>

        <!-- Campo de contraseña -->
        <ion-item class="custom-input">
          <input 
            type="password" 
            [(ngModel)]="password" 
            name="password"
            required
            #passwordInput="ngModel"
            (ionFocus)="currentField = 'password'"
            (ionBlur)="currentField = ''"
            label="Contraseña"
            labelPlacement="floating"
            placeholder="************"
            [class.valid-input]="passwordInput.valid && passwordInput.touched && passwordInput.value.length >= 8"
            [class.invalid-input]="passwordInput.invalid && passwordInput.touched">
          
        </ion-item>
        <ion-text color="danger" *ngIf="passwordInput.invalid && passwordInput.touched && currentField === 'password'">
          <small class="error-message">La contraseña es requerida</small>
        </ion-text>
      </ion-list>

      <div class="button-container">
        <ion-button expand="block" type="submit" class="login-button" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </ion-button>
        
        <ion-button fill="clear" (click)="forgotAutoridadPassword()" class="forgot-password">¿Olvidaste tu contraseña?</ion-button>
      </div>
    </form>
  </div>
</ion-content>
