<app-header></app-header>
<ion-header [translucent]="true" class="header-container">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" (click)="volver()"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header" >Mis Rutas Programadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-rutas">
    <!-- Contenido de rutas agendadas -->
    <ion-list class="lista-rutas">
      <ng-container *ngIf="rutasAgendadas.length > 0; else noRutas">
        <ion-item *ngFor="let ruta of rutasAgendadas" 
                  class="item-ruta" 
                  button 
                  lines="none"
                  (click)="verDetallesRuta(ruta)">
          <div class="contenido-ruta">
            <div class="imagen-container">
              <img alt [src]="ruta.imagen" class="imagen_ruta">
            </div>
            <div class="info-ruta">
              <h2 class="nombre_ruta">{{ruta.nombre}}</h2>
              <p class="descripcion_ruta">{{ruta.ubicacion}}</p>
              <div class="fecha-programada">
                <ion-icon name="calendar-outline"></ion-icon>
                <span>{{ruta.fechaProgramada}}</span>
              </div>
              <div class="hora-programada">
                <ion-icon name="time-outline"></ion-icon>
                <span>{{ruta.horaProgramada}}</span>
              </div>
              <div class="rating">
                <span class="dificultad_ruta">{{ruta.dificultad}}</span>
              </div>
              <div class="eliminar-ruta">
                <ion-button fill="clear" color="danger" (click)="confirmarEliminarRuta(ruta, $event)">
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="37"  height="37"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ng-container>
      <ng-template #noRutas>
        <div class="no-rutas-mensaje">
          <ion-icon name="calendar-outline" class="icono-grande"></ion-icon>
          <p>No tienes rutas programadas</p>
          <p>Agenda la ruta que quieras hacer para verla aqui.</p>
        </div>
      </ng-template>
    </ion-list>
  </div>
</ion-content>

<app-footer></app-footer>