<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Reiniciar Base de Datos</ion-title>
  </ion-toolbar>
</div>

<ion-content class="ion-padding">
  <div class="reset-container">
    <ion-icon name="warning-outline" class="warning-icon"></ion-icon>
    <h2>Reiniciar Base de Datos</h2>
    <p>Esta acción eliminará todos los datos almacenados en la aplicación.</p>
    
    <ion-button 
      expand="block" 
      color="danger" 
      (click)="clearDatabase()"
      class="reset-button">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      Borrar Base de Datos
    </ion-button>

    <ion-button 
      expand="block" 
      color="warning" 
      (click)="resetDatabase()"
      class="reset-button">
      <ion-icon name="refresh-outline" slot="start"></ion-icon>
      Reiniciar Base de Datos
    </ion-button>

    <ion-button 
      expand="block" 
      color="primary" 
      (click)="addDefaultAccounts()"
      class="default-button">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      Agregar Cuentas por Defecto
    </ion-button>
  </div>
</ion-content>